<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgsdksamplejavaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SdkActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!--  NOTE: This is required for apps that target API level 30 and above,
          due Package visibility limitation introduced in Android 11.
          It is not required if app uses ProGlove's Connect-SDK version 1.8.0 and greater.  -->
    <queries>
        <package android:name="de.proglove.connect" />
    </queries>

</manifest>